<%= form_with(model: news) do |form| %>
  <% if news.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
        <% news.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>     
  </div>

  <div>
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map { |c| [c.title, c.id] } %>
  </div>
  <div>
    <%= form.label :content %>
     <%= form.rich_text_area :content %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
