<div class="container p-7">
    <h1 class="text-4xl">Editor's Dashboard</h1>

    <%= form_with(model: news_item_daily, class: "contents") do |form| %>
  <% if news_item_daily.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(news_item_daily.errors.count, "error") %> prohibited this news_item_daily from being saved:</h2>

      <ul>
        <% news_item_daily.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="my-5">
    <%= form.date_select :posted_date %>
  </div>
  
  <% @categories.each do |category| %>
    <h1><%= category.title %></h1>
    <% category.news_items.each do |news| %>
      <%= check_box_tag "news_item_ids[]", news.id %>
      <%= news.title %>
      <br />
    <% end %>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

</div>   