<div class="container p-7">
    <h1 class="text-4xl">Editor's Dashboard</h1>

    <%= @categories.each do |category| %>
        <h1 class="text-2xl"><%= category.title %></h1>
        <%= category.news.each do |news| %>
            <h1 class="text-xl"><%= news.title %></h1>
            <p class="text-lg"><%= news.content %></p>
        <% end %>         
    <% end %>
</div>   