<div class="container mx-auto px-7 mt-7">
    <% if @daily.news_items.length <= 5 %>
        <p>There are less than 5 news</p>
    <% else  %>
        <div class="home">
            <div class="home__left__side">
                <% @daily.news_items.each do |news|  %>
                <div class="world__news1__item py-5 border-b-2">
                    <%= link_to news do  %>
                        <%= image_tag news.image, style: "width: 1200px" %>
                        <h1 class="news__title mt-7 mb-3"><%= news.title %></h1>
                    <% end  %>
                    <p><%= news.content.truncate(250) %></p>
                </div>
                <% end %>
            </div>
        
            <div class="home__right__side">
                <% @opinion.each do |news|  %>
                <div class="world__news2__item py-5 border-b-2">
                    <%= link_to news do  %>
                        <%= image_tag news.image, style: "width: 500px" %>
                        <h1 class="news__title mt-7 mb-3"><%= news.title %></h1>
                    <% end  %>
                    <p><%= news.content.truncate(150) %></p>
                </div>
                <% end %>

                <% @realestate.each do |news|  %>
                <div class="world__news2__item py-5 border-b-2">
                    <%= link_to news do  %>
                        <%= image_tag news.image, style: "width: 500px" %>
                        <h1 class="news__title mt-7 mb-3"><%= news.title %></h1>
                    <% end  %>
                    <p><%= news.content.truncate(150) %></p>
                </div>
                <% end %>
            </div>
        </div>
        
    <% end %>
</div>