<% if current_user&.editor?  %>
<div id="<%= dom_id daily %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Editor:</strong>
    <%# <% @dailies.each do |d| > %>
      <%= daily.id %>
      <%= daily.posted_date %>

      <% daily.news_items.each do |news| %>
        <div class="border-4 mb-4 p-2">
        <div class="text-2xl"><%= news.title %></div>
          <%= news.content %>
        </div>
      <% end %>
    <%# <% end > %>
   
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">News:</strong>
   
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this daily", daily, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this daily', edit_daily_path(daily), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>


<% end %>