<div id="<%= dom_id news_item_daily %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">News item:</strong>
    <%= news_item_daily.news_item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Daily:</strong>
    <%= news_item_daily.daily_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this news item daily", news_item_daily, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this news item daily', edit_news_item_daily_path(news_item_daily), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
