<!DOCTYPE html>
<html>
  <head>
    <title>The Punfam Times</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", 
      # 'https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap',
      "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render 'layouts/menu'  %>
    <%= render 'layouts/profiledropdown'  %>
    <main class="container mx-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
